# JetBrains IDE
.idea/

# Visual Studio
.vs/

# .NET
**/bin/
**/obj/

# Angular
**/node_modules/
**/dist/

# User files
*.user
*.suo

# Local HTTPS certificate for Docker development
https/


# Angular


frontend/client/node_modules/
frontend/client/dist/
frontend/client/.angular/

########################
# ASP.NET


backend/**/bin/
backend/**/obj/
backend/.vs/

########################
# Visual Studio

.vscode/
.vs/
*.user
*.suo

########################
# Logs


*.log

########################
# OS


.DS_Store
Thumbs.db
